name: Conditional tests

on:
  push:
    branches: [ main ]
    paths:
      - 'pyproject.toml'
  pull_request:
    branches: [ main ]
    paths:
      - 'pyproject.toml'
    types: [ opened, synchronize, reopened, ready_for_review ]  # defaults plus ready_for_review
  workflow_dispatch:
  workflow_call:

jobs:
  ubuntu:
    name: Ubuntu check (Python 3.10 + pip)
    if: github.event.pull_request.draft == false
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - uses: actions/cache@v4
        with:
          path: ${{ env.pythonLocation }}
          key: ${{ env.pythonLocation }}-${{ hashFiles('**/pyproject.toml') }}
      - name: Install package and dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install '.[dev]'
      - name: Run all checks
        run: python checks/pytest_.py

  windows:
    name: Windows check
    if: github.event.pull_request.draft == false
    runs-on: windows-latest
    timeout-minutes: 5
    env:
      UV_SYSTEM_PYTHON: 1  # needed because 'uv sync ...' followed by 'uv run ...' does not work...
    steps:
      - uses: actions/checkout@v6
      - name: Set up Python
        uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.12
          enable-cache: true
          cache-dependency-glob: |
            **/pyproject.toml
      - name: Install package and dependencies
        run: uv pip install -e ".[dev]"
      - name: Run all checks
        run: python checks/pytest_.py
